<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="SPEC-001 WordPress Integration">
            <file>test-spec001-summary-integration.php</file>
        </testsuite>
    </testsuites>
</phpunit>
